$o-brand-odoo:#875A7B;
$o-brand-primary:#00A09D;
$liste_view_thead_thead_colors:#FFFFFF;
$o-list-footer-bg-color:#FFFFFF;
$o-webclient-background-color:#dedcdc;
$o-view-background-color:#FFFFFF;
$o-main-text-color:#4c4c4c;


$home_menu_background_from:#77717e;
$home_menu_background_to:#c9a8a9;







